body {
    background-color: #A3D2CA;
}

hr {
    border-style: dotted none none;
    border-width: .5em;
    border-color: #E8DED2;
    width: 10%;
}

h1 {
    color: #056676
}

h3 {
    color: #056676
}